name: Manual macOS SSHX

on:
  workflow_dispatch:

jobs:
  run-sshx:
    runs-on: macos-14-xlarge
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start SSHX session
        run: |
          curl -sSf https://sshx.io/get | sh
